@import url('https://fonts.googleapis.com/css?family=Thasadith');
@import url("dracula.css");

:root {
  --main-bg-color: #022c43;
  --main-text-color: white;
}

body {
  margin: 0;
  background: whitesmoke;
  font-family: 'Thasadith', sans-serif;
}

button { 
  outline: none; 
  font-family: inherit;
}

input:focus { outline: none; }

nav {
  font-size: 30px;
  font-weight: bold;
  background: var(--main-bg-color);
  display: block;
  color: var(--main-text-color);
  padding: 12px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

code {
  border-radius: 6px;
}

code span {
  white-space: pre-wrap;
}

button {
  color: var(--main-text-color);
}

button:hover {
  cursor: pointer;
}

nav button {
  color: var(--main-text-color);
}

button.icon {
  border: none;
  font-size: 26px;
  border-radius: 5px;
  background: none;
}

button.primary {
  border: none;
  padding: 6px 30px;
  font-size: 20px;
  border-radius: 5px;
  background: #053f5e;
}

button.step {
  width: 100px;
}

del {
  color: red;
}

ins {
  color: #0dd40d;
  text-decoration: none;
  font-weight: bold;
}

.container {
  display: flex;
  position: fixed;
  width: 100%;
  top: 60px;
  bottom: 60px;
}

.side {
  flex: 50%;
  position: relative;
  box-sizing: border-box;
}

.side h3 {
  background: #053f5e;
  margin: 0;
  color: white;
  padding: 2px 12px;
  line-height: 32px;
}

.side button {
  color: white;
  padding: 6px;
}

.box {
  position: absolute;
  top: 48px;
  bottom: 0;
  overflow: auto;
  left: 0;
  right: 0;
}

pre.css {
  margin: 0;
  padding: 0.2rem;
}

.element-p2333 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#project-name {
  width: calc(100% - 130px);
}

/* TODO: check how to do it programically */
.CodeMirror {
  height: 100% !important;
}

footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  padding: 12px;
  z-index: 100000000;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  text-align: center;
  color: var(--main-text-color);
  background: var(--main-bg-color);

  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -o-user-select: none;
  -moz-user-select: none;
}

footer h3 {
  margin-top: 0;
  vertical-align: middle;
  margin-bottom: 0;
}

.no-styling-input {
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  color: white;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.4);
  padding-top: 100px;
  display: none;
  animation: fadeIn 0.4s;
}

.overlay.show {
  display: block;
}

@keyframes fadeIn {
  0% {
    background: rgba(0,0,0,0);
    padding-top: 0;
  }
  100% {
    background: rgba(0,0,0,0.4);
    padding-top: 100;
  }
}

.step-point {
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
  width: 10px;
  align-items: center;
  height: 10px;
  margin: 0 10px;
}

.step-inner-point {
  border-radius: 100%;
  width: 4px;
  height: 4px;
  background: white;
}

.step-inner-point.active {
  width: 10px;
  height: 10px;
  background: white;
  animation: activeAnimation 0.2s;
  animation-timing-function: ease-in;
}

@keyframes activeAnimation  {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.modal {
  position: relative;
  background: white;
  padding: 12px;
  width: 440px;
  margin: auto;
  border-radius: 8px;
}

.modal textarea {
  width: 100%;
  border-radius: 6px;
  padding: 8px;
}

.modal button {
  font-size: 16px;
  margin-top: 10px;
  background: var(--main-bg-color);
  color: var(--main-text-color);
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
}